body{
    background-color: rgb(68, 68, 254);
}
.menu{
    width: 100%;
    height: 40px;
    background-color: rgb(33, 33, 238);
    display: flex;
    justify-content: space-between;
}
h1{
    margin: 10px;
    color: aliceblue;
    display: flex;
    align-items: center;
}
ul{
    list-style: none;
    align-items:center ;
    display: flex;
    flex-direction: row; 
}
ul :hover{
    color: rgb(12, 1, 134);
}
a{
    background-color: rgb(68, 68, 254);
    padding: 7px ;
    text-decoration: none;
    margin: 4px;
    color: aliceblue;
}
